/* NAVIGATION*/

.nav-link{
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    color:white !important;
    border-bottom: solid white 1px;
}

.jumbotron1{
    background-image: url(../IMAGES/USAHERO@2x.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom:10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

.display-4{
    color:white !important;
    padding-left:10%
}

.home{
    align-content:flex-start;
}

/* HERO IMAGE & INTRODUCTION */
.jumbotron2{
    background-image: url(../IMAGES/USABLWT@2x.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-responsive{
    padding-top:10% transparent;
    align-content:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


.intro{
   padding-top:10%;
    padding-left:10%;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    color:#4166AF !important;
}

.bio{
    padding-left:10%;
    color:black;
    font-family:'Montserrat', sans-serif;
    font-weight:300;
}

.btn {
    background-color:#FB6157;
    border-color:#FB6157;
    margin-left:10%;
    font-weight:300;
}





/* Extra small devices (phones, 600px and down) */


/* RESEARCH */

.top-left {
    position:absolute;
    top: 25%;
    left:10%;
  }

  .heading{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size:600%;
  }

  .imgheading{
    transform:rotate(90deg);
  }

  .responsibilities{
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    font-size:200%;
    padding-bottom:35px;
  }

  .top-right {
    padding-left:30%;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;

  }

  p{
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    font-size:100%;
  }

  .spacer{
      border-bottom: #4166AF dotted 10px;
  }

  .text-orientation {
    text-orientation: sideways;
  }

  .titledirection {
    padding-top:5%;
    color:black;
    writing-mode: vertical-lr;
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    font-size:700%;
  }

  .name{
    padding-top:5%;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    font-size:500%;
  }

  .imgheading{
    padding-top:5%;
  }
  
  .info {
    max-width: 750px;
    position: relative;
    padding-left: 50px;
    padding-top: 30px;
    font-family:'Montserrat', sans-serif;
  }
  
  .vertical {
    padding-top: 2px;
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
    border-right: solid black 1px;
  }

  .vertical2{
      padding-top:130px;
      writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
    border-right: solid black 1px;
  }
    
  
  

  
/* CURRENT*/




/* FOOTER */

.navbar-lt{
    background-color:#5AC6D9;
    padding-bottom:5%
}

.footer{
    align-content:center;
}
